Parte 1: Strings
1. Dada una cadena de texto, contar cuántas veces aparece una letra específica en ella. Usa un
input para que el usuario elija la letra a buscar.
cadena = "Python es un lenguaje de programación muy popular"

In [240]:
cadena = "Python es un lenguaje de programación muy popular"
input_letra = input("Que letra quieres buscar?").lower()

resultado = cadena.count(input_letra)
print("La letra ", input_letra, "aparece", resultado, "veces")

La letra  o aparece 3 veces

2. Escribe un programa que tome la siguiente cadena de texto y reemplace una palabra específica
por otra palabra. La palabra a reemplazar y reemplazada deben ser elegidas por el usuario.
cadena = "Python es genial. Python es fácil de aprender."

In [175]:
cadena = "Python es genial. Python es fácil de aprender."
palabra_a_reemplazar = input("Escribe la palabra que quieres reemplazar")
palabra_nueva = input("Escribe la palabra que quieres agregar")

cadena_nueva = cadena.replace(palabra_a_reemplazar, palabra_nueva)
print(cadena_nueva)

Python es buenisimo. Python es fácil de aprender.

3. Toma la siguiente oración y divídela en una lista de palabras. Luego, únelas nuevamente en una
sola cadena de texto.
oracion = "Esto es una oración de ejemplo"

In [245]:
oracion = "Esto es una oración de ejemplo"
lista_oracion = (oracion.split())
cadena_oracion = " ".join(lista_oracion)
print(cadena_oracion)

Esto es una oración de ejemplo

4. Desarrolla un programa que cuente cuántas palabras hay en la siguiente frase.
cadena = "Esta es una cadena con cinco palabras"

In [177]:
cadena = "Esta es una cadena con cinco palabras"
conteo = cadena.split()
num_palabras = len(conteo)
print("El numero de palabras en la oracion son:", num_palabras)

El numero de palabras en la oracion son: 7

5. Escribe un programa que invierta una cadena de texto dada por un usuario. Mira el siguiente
ejemplo para entender lo que se pide:
input
"Hola buenos dias"
 output
"dias buenos Hola

In [178]:


# resultado = texto [::-1]
# print(" ".join(resultado))

# " ".join(reversed(cadena_original)

6. Crea un programa que busque una palabra específica(elegida por la usuaria) en una cadena de
texto e indique su posición.

In [179]:
cadena_de_texto = "Hola me llamo Patricia Gonzalez"
cadena_de_texto_split = cadena_de_texto.split()
palabra_para_buscar = input("Que palabra quieres buscar?")

if palabra_para_buscar in cadena_de_texto:
    print("La palabra que ingresaste esta en la posición",cadena_de_texto_split.index(palabra_para_buscar))

La palabra que ingresaste esta en la posición 2

Parte 2: Listas
1. Dada la siguiente lista: frutas = ['manzana', 'pera', 'banana', 'uva', 'kiwi'], realiza
lo siguiente:
a) Reemplaza el segundo elemento con 'durazno'.

In [180]:
frutas = ['manzana', 'pera', 'banana', 'uva', 'kiwi']
frutas[1] = "durazno"
frutas

['manzana', 'durazno', 'banana', 'uva', 'kiwi']

b) Agrega 'naranja' al final de la lista.

In [181]:
frutas.append("naranja")
frutas

['manzana', 'durazno', 'banana', 'uva', 'kiwi', 'naranja']

c) Extrae y muestra por pantalla el tercer elemento de la lista.

In [182]:
print(frutas[2])

banana

2. Crea una lista llamada numeros que contenga los siguientes valores: 10, 25, 15, 30, 20.

In [183]:
numeros =[10, 25, 15, 30, 20]
numeros

[10, 25, 15, 30, 20]

3. Agrega el valor 35 al incio de la lista numeros.

In [184]:
numeros.insert(0, 35)
numeros

[35, 10, 25, 15, 30, 20]

4. Ordena la lista numeros en orden ascendente.

In [185]:
numeros.sort()
numeros

[10, 15, 20, 25, 30, 35]

5. Dada la siguiente lista numeros2 = [45, 22, 19, 38, 29]. Crea una nueva lista llamada
numeros3 donde tengamos la unión de los todos los elementos de las dos listas (numeros y
numeros2) de tal forma que el resultado final sea:
numeros3 = [10, 25, 15, 30, 20, 45, 22, 19, 38, 29]

In [186]:
numeros2 = [45, 22, 19, 38, 29]
numeros3 = numeros + numeros2
numeros3

[10, 15, 20, 25, 30, 35, 45, 22, 19, 38, 29]

6. Elimina el último elemento de la lista numeros3.

In [187]:
numeros3.pop()
numeros3

[10, 15, 20, 25, 30, 35, 45, 22, 19, 38]

7. Elimina el número 30 de la lista numeros3.

In [188]:
numeros3.remove(30)
numeros3

[10, 15, 20, 25, 35, 45, 22, 19, 38]

Parte 3: Tuplas
1. Crea una tupla llamada colores que contenga los siguientes valores: 'rojo', 'verde', 'azul',
'amarillo', 'morado'.
2. Encuentra el índice de 'verde' en la tupla colores.
3. ¿Cuántas veces aparece 'azul' en la tupla colores?

In [189]:
colores = ("rojo", "verde", "azul", "amarillo", "morado")
indice_verde = colores.index("verde")
indice_verde

1

In [190]:
colores.count("azul")

1

4. Añade el color "morado" a la tupla colores. ¿Qué ha pasado? ¿Por qué? Como podríamos
añadir el elemento "morado".

In [191]:
lista_colores = list(colores)
lista_colores.append("morado")
lista_colores

['rojo', 'verde', 'azul', 'amarillo', 'morado', 'morado']

Parte 4: Diccionarios
1. Crea un diccionario llamado frutas con las siguientes parejas clave-valor:
o 'manzana': 2
o 'banana': 3
o 'uva': 5
o 'pera': 4

In [192]:
frutas_dic = { "manzana" : "2" , "banana" : "3", "uva": "5" , "pera": "4"}

2. Saca una lista de todas las frutas en el diccionario.

In [246]:
lista_frutas = list(frutas_dic.keys())
lista_frutas

['manzana', 'banana', 'uva', 'pera', 'kiwi']

3. Saca una lista de todas las cantidades en el diccionario.

In [247]:
lista_cantidades = list(frutas_dic.values())
lista_cantidades

['2', '3', 8, '4', 6]

4. ¿Qué cantidad de 'manzana' tenemos?. Si la clave 'manzana' no está presente, devuelve un
mensaje diciendo "No existe esa clave".

In [195]:
#Mejor hacerlo con get()
if "manzana" in frutas_dic : 
    print(frutas_dic["manzana"] )
else : print("No existe esa clave")

2

5. Agrega un nuevo par de clave-valor al diccionario frutas: 'kiwi' con una cantidad de 6.

In [196]:
frutas_dic["kiwi"] = 6
frutas_dic

{'manzana': '2', 'banana': '3', 'uva': '5', 'pera': '4', 'kiwi': 6}

6. Cambia la cantidad de 'uva' a 8.

In [197]:
frutas_dic["uva"] = 8
frutas_dic

{'manzana': '2', 'banana': '3', 'uva': 8, 'pera': '4', 'kiwi': 6}

7. Crea un segundo diccionario llamado frutas_nuevas con las siguientes parejas clave-valor:
o 'sandía': 7
o 'mango': 4

In [198]:
frutas_nuevas = {"sandia" : "7", "mango" : "4"}

8. Combinar los dos diccionarios frutas_nuevas y frutas en uno nuevos llamado frutas_total.

In [199]:
frutas_total = {**frutas_nuevas, **frutas_dic}
print(frutas_total)

{'sandia': '7', 'mango': '4', 'manzana': '2', 'banana': '3', 'uva': 8, 'pera': '4', 'kiwi': 6}

9. Elimina el último par de clave-valor del diccionario frutas_total.

In [200]:
frutas_total.items()

dict_items([('sandia', '7'), ('mango', '4'), ('manzana', '2'), ('banana', '3'), ('uva', 8), ('pera', '4'), ('kiwi', 6)])

In [201]:
del frutas_total["pera"]
print(frutas_total)

{'sandia': '7', 'mango': '4', 'manzana': '2', 'banana': '3', 'uva': 8, 'kiwi': 6}

10. Elimina el par de clave-valor correspondiente a la clave 'uva' del diccionario.

In [202]:
del frutas_total["uva"]
frutas_total

{'sandia': '7', 'mango': '4', 'manzana': '2', 'banana': '3', 'kiwi': 6}

11. Agregar la fruta 'manzana' con una cantidad de 10 al diccionario. Si ya existe, no se realizarán
cambios en los valores que teníamos.

In [213]:
frutas_total.setdefault("manzana")
frutas_total

{'sandia': '7', 'mango': '4', 'manzana': '2', 'banana': '3', 'kiwi': 6}

12. Combinar métodos de listas y diccionarios:
o Obtén una lista de todas las cantidades en el diccionario y calcula suma total de las
cantidades del diccionario frutas_total.
o Utilizando la lista creada en el apartado anterior encuentra la cantidad más grande y
más pequeña.

In [225]:
# lista_valores = list(frutas_total.values())
# total_valores = sum(lista_valores)

TypeError: unsupported operand type(s) for +: 'int' and 'str'